USE [master]
GO
/****** Object:  Database [SmartParking]    Script Date: 7/12/2016 7:43:23 PM ******/
CREATE DATABASE [SmartParking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartParking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TSQL\MSSQL\DATA\SmartParking.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SmartParking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TSQL\MSSQL\DATA\SmartParking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartParking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartParking]
GO
/****** Object:  Table [dbo].[HoursADay]    Script Date: 7/12/2016 7:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoursADay](
	[ID] [int] NOT NULL,
	[Ora] [int] NULL,
 CONSTRAINT [PK_HoursADay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Masini]    Script Date: 7/12/2016 7:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masini](
	[ID] [int] NOT NULL,
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[Numar] [nvarchar](100) NULL,
	[Culoare] [nvarchar](50) NULL,
 CONSTRAINT [PK_Masini] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Model]    Script Date: 7/12/2016 7:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ID] [int] NOT NULL,
	[ProducatorID] [int] NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[An] [int] NULL,
	[Activ] [int] NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrarPerMasina]    Script Date: 7/12/2016 7:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrarPerMasina](
	[OraSosire] [int] NULL,
	[OraPlecare] [int] NULL,
	[MasinaID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_OrarPerMasina] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producator]    Script Date: 7/12/2016 7:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Activ] [int] NULL,
 CONSTRAINT [PK_Producator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vizita]    Script Date: 7/12/2016 7:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vizita](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MasinaID] [int] NOT NULL,
	[DurataSosire] [datetime2](7) NOT NULL,
	[DurataPlecare] [datetime2](7) NOT NULL,
	[Durata]  AS (datediff(minute,[DurataSosire],[DurataPlecare])),
 CONSTRAINT [PK_Vizita] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Masini]  WITH CHECK ADD  CONSTRAINT [FK_Masini_Model1] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Model] ([ID])
GO
ALTER TABLE [dbo].[Masini] CHECK CONSTRAINT [FK_Masini_Model1]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Producator] FOREIGN KEY([ProducatorID])
REFERENCES [dbo].[Producator] ([ID])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_Producator]
GO
ALTER TABLE [dbo].[OrarPerMasina]  WITH CHECK ADD  CONSTRAINT [FK_OrarPerMasina_HoursADay] FOREIGN KEY([ID])
REFERENCES [dbo].[HoursADay] ([ID])
GO
ALTER TABLE [dbo].[OrarPerMasina] CHECK CONSTRAINT [FK_OrarPerMasina_HoursADay]
GO
ALTER TABLE [dbo].[Vizita]  WITH CHECK ADD  CONSTRAINT [FK_Vizita_Masini] FOREIGN KEY([MasinaID])
REFERENCES [dbo].[Masini] ([ID])
GO
ALTER TABLE [dbo].[Vizita] CHECK CONSTRAINT [FK_Vizita_Masini]
GO
USE [master]
GO
